if type === 'default'
    include default/index.pug
if type === 'portfolio'
    include portfolio/index.pug
//if type == 'magestinan'
//    include masgestinan/index.pug
//if type == 'tal'
//    include type/tal
//if type == 'ecomercce'
//    include ecomerce/index.pug
